<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no">
    <title>blog</title>
    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
       <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
       <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/media.css">
    <link rel="stylesheet" href="/public/css/admin.css">
    </style>
</head>

<body>
    <div class="container">
        <nav>
            <p class="lf">
                <img src="../../public/images/manage.svg" alt="后台管理界面">
            </p>
            <div class="rt">
                <button class="btn">
                    <img src="../../public/images/user-center-1.svg" alt="用户"> {% block username %}{% endblock %}
                </button>
                <ul>
                    <li>
                        <a href="/">退出管理</a>
                    </li>
                </ul>
            </div>
            <ul class="tabs">
                <li>
                    <a href="javascript: window.location.pathname = '/admin'">管理首页</a>
                </li>
                <li>
                    <a href="javascript: window.location.pathname = '/admin/user'">用户管理</a>
                </li>
                <li class="dropdown">
                    <a href="javascript: window.location.pathname = '/admin/category'">分类管理</a>
                    <ul>
                        <li>
                            <a href="/admin/category">分类首页</a>
                        </li>
                        <li>
                            <a href="/admin/category/add">添加分类</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript: window.location.pathname = '/admin/content'">内容管理</a>
                    <ul>
                        <li>
                            <a href="/admin/content">内容列表</a>
                        </li>
                        <li>
                            <a href="/admin/content/add">添加内容</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        {% block main %}{% endblock%}
    </div>
    <script src="/public/js/jquery-3.3.1.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/public/js/admin/index.js"></script>
</body>

</html>